@import 'reset';

.landing-page {
    font-family: 'PT Sans', sans-serif;
    header {
        background: #fcdb00;
        padding: 60px 0;
        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
        }
    }
    .container {
        width: 100%;
        max-width: 940px;
        margin: 0 auto;
        padding-left: 20px;
        padding-right: 20px;
    }
    .menu {
        li {
            display: inline-block;
        }
        li:last-child {
            a {
                padding-right: 0;
            }
        }
        a {
            text-decoration: none;
            color: black;
            font-weight: 700;
            padding: 0 35px;
            font-size: 22px;
        }
    }
    .banner {
        background: #fcdb00;
        padding-top: 10px;
        padding-bottom: 60px;
        .slick-initialized .slick-slide, .container {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        .slick-dots {
            width: 100%;
            text-align: center;
            li {
                display: inline-block;
                margin: 45px 5px 0;
                &.slick-active button {
                    opacity: 1;
                }
                button {
                    border: 0;
                    text-indent: -9999px;
                    width: 13px;
                    height: 13px;
                    cursor: pointer;
                    padding: 0;
                    background-color: #fff;
                    border-radius: 26px;
                    opacity: 0.5;
                    outline: 0;
                }
            }
        }
        .hgroup {
            max-width: 320px;
            padding-top: 50px;
        }
        h1 {
            font-weight: 400;
            font-size: 32px;
            color: #010101;
            margin-bottom: 27px;
        }
        h2 {
            font-weight: 400;
            font-size: 20px;
            color: #313841;
            margin-bottom: 27px;
        }
        h3 {
            font-weight: 400;
            font-size: 16px;
            color: #555555;
        }
        .devices {
            .devicesbanner {
                display: inline-block;
                margin-top: 40px;
            }
            .iconsbanner {
                color: #010101;
                font-size: 42px;
                padding-right: 30px;
                text-decoration: none;
            }
        }
        .ipadmini {
            padding-right: 25px;
        }
    }

    main {
        padding-bottom: 160px;
        .titlemain {
            text-align: center;
            padding-top: 115px;
            font-size: 32px;
            color: #010101;
            font-weight: 700;
        }
        .textmain {
            text-align: center;
            font-size: 20px;
            font-weight: 400;
            padding-top: 30px;
            color: #313841;
        }
        .list {
            li {
                display: inline-block;
                max-width: 295px;
                width: 100%;
                padding-top: 90px;
                padding-right: 30px;
                i {
                    font-size: 50px;
                    display: inline-block;
                    vertical-align: top;
                }
                .align {
                    position: relative;
                    top: -5px;
                }
                aside {
                    display: inline-block;
                    width: 72%;
                    vertical-align: middle;
                    padding-left: 30px;
                }
                h2 {
                    font-size: 22px;
                    font-weight: 400;
                    color: #010101;
                    display: inline-block;
                    padding-bottom: 20px;
                }
                p {
                    font-size: 16px;
                    font-weight: 400;
                    color: #898989;
                    display: inline-block;
                }
            }
            .aligncode {
                position: relative;
                right: 16px;
                right: 0\0;
                margin-bottom: 90px\0;
            }
        }
    }

    .form {
        background: #010101;
        .titleform {
            font-size: 32px;
            font-weight: 700;
            color: #fcdb00;
            text-align: center;
            padding-top: 95px;
        }
        .textform {
            font-size: 20px;
            font-weight: 400;
            color: #898989;
            text-align: center;
            padding-top: 24px;
        }

        .form {
            padding-top: 42px;
            text-align: center;
        }
        .inputemail {
            width: 60%;
            padding: 15px;
            border-radius: 5px;
            border: 0;
        }
        .btnsubmit {
            width: 15%;
            padding: 14px;
            border-radius: 7px;
            color:#010101;
            font-weight: 700;
            font-size: 16px;
            background-color: #fcdb00;
            border: 0;
            margin-left: 20px;
            outline: 0;
            cursor: pointer;
            &:hover {
                background-color: #dec102;
            }
        }
        ul {
            text-align: center;
            padding-top: 76px;
            li {
                display: inline-block;
                vertical-align: middle;
                padding-right: 25px;
                i {
                    color: #fcdb00;
                    font-size: 42px;

                }
            }
        }
    }

    footer {
        background: #010101;
        padding-top: 130px;
        padding-bottom: 130px;
        vertical-align: middle;
        width: 100%;
        dl {
            display: inline-block;
            vertical-align: top;
            margin-right: 80px;
        }
        dd {
            color: #fff;
            font-size: 16px;
            font-weight: 400;
            a {
                text-decoration: none;
                color: #fff;
                font-size: 16px;
                font-weight: 400;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .landing-page {
        .container {
            max-width: 600px;
            align-items: center;
        }
        .menu {
            display: inline-block;
            cursor: pointer;
            max-width: 40px;

            .bar1, .bar2, .bar3 {
                width: 35px;
                height: 5px;
                background-color: #333;
                margin: 6px 0;
                transition: 0.4s;
            }

            &.change .bar1 {
                -webkit-transform: rotate(-45deg) translate(-9px, 6px);
                transform: rotate(-45deg) translate(-9px, 6px);
            }

            &.change .bar2 {opacity: 0;}

            &.change .bar3 {
                -webkit-transform: rotate(45deg) translate(-8px, -8px);
                transform: rotate(45deg) translate(-8px, -8px);
            }

            ul {
                width: 100%;
                height: 0;
                opacity: 0;
                margin-top: 4px;
                transition: all .2s linear;
                position: relative;
                right: 110px;
                top: -40px;
                &.opacity {
                    opacity: 1;
                }
            }
            li {
                width: 100%;
                box-sizing: border-box;
                & + li {
                    margin-left: 0;
                    margin-top: 8px;
                }
            }
            a {
                padding: 0;
            }
        }
        .banner {
            .hgroup {
                max-width: 100%;
            }
            .ipadmini {
                margin-top: 40px;
            }
        }
        main {
            .list {
                li {
                   display: block;
                    margin: 0 auto;
                }
            }
        }
        footer {
            max-width: 100%;
            dl{
                margin: 0 15px;
            }
        }
    }
}

@media screen and (min-width: 305px) and (max-width: 767px) {
    .landing-page {
        .container {
            max-width: 400px;
            align-items: center;
        }
        .menu {
            a {
                padding: 25px;
            }
        }
        main {
            .list {
                li {
                    aside {
                        width: 70%;
                    }
                }
                .aligncode {
                    position: initial;
                }
                .html {
                    margin-left: 50px;
                    margin-top: -50px;
                }
            }
        }
        .form {
            .inputemail {
                width: 80%;
                margin-bottom: 15px;
            }
            .btnsubmit {
                width: 35%;
            }
        }
        footer {
            max-width: 100%;
            dl {
                margin: 9px 40px;
            }
            .footermedia {
                margin-left: 35px;
            }
        }
    }
}


